.col-25{
    width: 25%;
    float: left;
}
.produce{
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}
.produce > .name{
    font-variant: small-caps;
    color: orangered;
}
.produce > .image{
    width: 98%;
    height: 150px;
    margin-bottom: 10px;
}
.produce > .price{
    position: absolute; left: 5px; bottom: 5px;
    font-family: Impact;
    font-size: 25px;
    color: orange;
}
.produce > .icons{
    position: absolute; right: 35px;bottom: 5px;
    width: 25px;
}
.produce > .n-icon{
    position: absolute; top: 0px;right: 0px;
}